.avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.avatar {
  width: 150px;
  @media (max-width: $break-small) {
    width: 125px;
  }
}

.heart {
  width: 92px;
  @media (max-width: $break-small) {
    width: 75px;
  }
}
