@import "./partials/variables.scss", "./partials/albums.scss",
  "./partials/avatars.scss", "./partials/introduction.scss";

body {
  color: $font-color;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.App {
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.welcome-text {
  text-align: justify;
}

.title {
  white-space: nowrap;
  font-size: 2.5em;
  @media (max-width: $break-small) {
    font-size: 1.5em;
  }
}

.transitional {
  transition: 0.5s ease;
}
